# Train Test Split (Practice)
## Joseph Lim

This is one of the practice (non-required) assignments for Coding Dojo's Data Science bootcamp. It is given during the first week of the second stack, and is intended to ease students into getting familiar with splitting data for training and testing of machine learning models. In order to do so, students are asked to split a modified version of the California Housing dataset.

A data dictionary is provided below, constructed by Joseph Lim.

## Importing Libraries and Data

In [1]:
#Importing and mounting google drive
from google.colab import drive

drive.mount("/content/drive/")

Mounted at /content/drive/

In [2]:
#importing pandas
import pandas as pd

#importing sci-kit learn
from sklearn.model_selection import train_test_split

In [3]:
url = "/content/drive/MyDrive/Colab Notebooks/2: Intro to ML/Modified CA Housing-sklearn.csv"

df = pd.read_csv(url)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,832520.0,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,452600.0
1,830140.0,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,358500.0
2,725740.0,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,352100.0
3,564310.0,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,341300.0
4,384620.0,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,342200.0

## Conducting Train-Test Split

(pun very much intended)

In [4]:
#Separating the data into X and y variables
X = df.drop(columns = "MedHouseVal")
y = df["MedHouseVal"]

In [5]:
#Splitting X,y into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 321)

In [6]:
#Previewing the first 5 rows of X_train
X_train.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
2294,246780.0,18.0,4.917157,1.086917,5466.0,2.474423,36.80,-119.74
5856,468980.0,45.0,5.039216,1.013725,1256.0,2.462745,34.18,-118.33
12427,388460.0,19.0,5.659574,1.046099,1201.0,4.258865,33.66,-116.21
4279,185760.0,37.0,2.477564,1.006410,835.0,2.676282,34.09,-118.31
19898,268750.0,23.0,6.357447,1.170213,678.0,2.885106,36.27,-119.25

In [7]:
#Checking X_train's dtypes
X_train.dtypes

MedInc        float64
HouseAge      float64
AveRooms      float64
AveBedrms     float64
Population    float64
AveOccup      float64
Latitude      float64
Longitude     float64
dtype: object

In [8]:
#Checking for Null values in X_train
X_train.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [9]:
X_train.shape

(15480, 8)

In [10]:
X_test.shape

(5160, 8)

X_train has more rows, but both X_train and X_test have the same number of columns