<center>
<img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2470/s300/cd-logo-blue-600x600.png" alt="Coding Dojo Logo" class="center" height="50">

# SQL Basics Exercise

*Make a copy of this notebook to edit!*
```
File > Save a copy in Drive
```
    
</center>

[SQLAlchemy](https://www.sqlalchemy.org/) is a wrapper for Python that allows us to write SQL queries in Python. We will use this to practice our SQL basics in Python.

First, we need to connect to a database. We will just read a table into SQL for this step. We will be creating a [SQLite](https://sqlite.org/index.html) database and loading our [data](https://drive.google.com/file/d/18MgOmIHHafoubgp2d_7GM6GWroxb0vPe/view?usp=sharing) into that database.

The data (from [this source](https://data.world/sikkim/school)) describes details of various schools.

In [ ]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# mount data
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# load data - change the path to match your drive!
df_school = pd.read_csv('/content/drive/CHANGETHEPATH/School Details.csv')
# make sure it loaded correctly
df_school.head(2)

In [ ]:
# create sqlite engine
engine = create_engine('sqlite:///schools.db', echo=True)
# create connection to engine
conn = engine.connect()

In [ ]:
# add the dataframe as a table in sqlite
sqlite_table = "school_details"
df_school.to_sql(sqlite_table, conn, if_exists='fail')

## SELECT & FROM

1. Get the EstablishmentName, SchoolLevel, and Website columns.

We can actually use Pandas to run SQL queries! To do this, we write a SQL query in a multi-line string. Simply replace the text in the multi-line string below with your SQL query and run the cell to query your data.

In [ ]:
# Write your SQL query in this string
sql = """
Replace this text
with your query!
"""

# Read the sql query into pandas to view the results
pd.read_sql_query(sql, engine)

## WHERE

2. Display the EstablishmentName and DistrictHQDistance (in Km) for schools where the DistrictHQDistance (in Km) is more than 100 Km.

In [ ]:
# Write your SQL query in this string
sql = """
Replace this text
with your query!
"""

# Read the sql query into pandas to view the results
pd.read_sql_query(sql, engine)

3. Display the EstablishmentName, SchoolLevel, DistrictHQDistance (in Km) for schools where the school level is "JHS."

In [ ]:
# Write your SQL query in this string
sql = """
Replace this text
with your query!
"""

# Read the sql query into pandas to view the results
 pd.read_sql_query(sql, engine)

## Wildcards & LIKE

4. Display the EstablishmentName, SchoolLevel, DistrictHQDistance (in Km) for schools where the name of the school contains the words "JUNIOR HIGH."

In [ ]:
# Write your SQL query in this string
sql = """
Replace this text
with your query!
"""

# Read the sql query into pandas to view the results
pd.read_sql_query(sql, engine)

## LIMIT & ORDER BY

5. Display the EstablishmentName, SchoolLevel, DistrictHQDistance (in Km) for schools where the name of the school starts with the letter "C." Sort the results alphabetically by school name and limit the results of the query to 10 rows.

In [ ]:
# Write your SQL query in this string
sql = """
Replace this text
with your query!
"""

# Read the sql query into pandas to view the results
pd.read_sql_query(sql, engine)

6. Display the names of schools in urban areas. Sort the results in reverse alphabetical order.

In [ ]:
# Write your SQL query in this string
sql = """
Replace this text
with your query!
"""

# Read the sql query into pandas to view the results
pd.read_sql_query(sql, engine)

## Aliasing

7. Repeat the previous query, but rename the column displayed to "name".

In [ ]:
# Write your SQL query in this string
sql = """
Replace this text
with your query!
"""

# Read the sql query into pandas to view the results
pd.read_sql_query(sql, engine)

In [ ]:
# Close the database connection
conn.close()